@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.cointenerComanda{
    font-family: 'Neucha';
    font-size: 45px;
    color: #58524c;
    background: beige;
    width: 800px;
    height: auto;
    text-align: center;
    padding: 50px 20px 20px 20px;
    border-radius: 5%;
    margin: 150px 50px 0 10px;
}
.numberTable{
    font-size: 30px;
    margin: 0;
}
.inputNumberTable{
    font-family: 'Neucha';
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    width: 300px;
    padding: 20px;
    border-radius: 50px;
    border: solid #58524C 1px;
    background: #F5EAD6;
    color: #58524C;
}
.listText{
    font-size: 25px;
    list-style:none;
}
.buttonDelete{
    width: 50px;
    height: 50px;
    margin: 19px 0 0 15px;
    background: #56cdb0;
    font-family: 'Neucha';
    font-size: 35px;
    color: #58524C;
    border-radius: 50%;
    border: none;
}
.total{
    font-size: 35px;
    border-top: #58524C 1px;
    text-align: center;
}
.buttonSendToKitchen{
    margin-top: 20px;
    width: 240px;
}