@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.cointenerHeaderMenu{
    background: #EAD4B0;
    padding: 40px 65px;
    display: flex;
    width: auto;
}
.userHeaderMenu{
    font-family: 'Neucha';
    font-size: 30px;
    color: #58524C; 
    width: 30%; 
    margin: 0;
}
.buttonsHeader{
    width: 90%;
    display: inline-block;
}
.buttonHeaderMenu{
    margin: 5px;
    float: right;
    width: 20%;
}