@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.cointenerHeaderMenu{
    background: #4ebb9d;
    display: flex;
    padding: 20px;
    margin: 0;
}
.buttonsHeader{
    text-align: left;
}
.buttonHeaderMenu{
    width: 150px;
    margin: 10px;
}
.userHeaderMenu{
    font-family: 'Neucha';
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}