@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.cointenerHeaderMenu{
    background: #4ebb9d;
    display: flex;
    padding: 30px;
}
.buttonsHeader{
    margin: 20px;

}
.buttonHeaderMenu{
    width: 150px;
    margin: 0 10px 0 10px;
}
.userHeaderMenu{
    font-family: 'Neucha';
    font-size: 30px;
    color: beige;  
}