
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.userNameTxt{
    font-family: 'Neucha';
    font-size: 35px;
    color: #58524C;
    margin-bottom: 10px;
}
.cointenerHome{
    text-align: center;
    margin: 0 auto;
}
.logo{
    margin: 70px 0 0 0;
    max-width: 35%;
    text-align: center;
}
.userName{
    font-family: 'Neucha';
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    border: solid #EAD4B0;
    background: #F5EAD6;
    color: #58524C;
}
.buttonsHome{
    margin-top: 20px;
    width: 25%;
}