@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');


.txtWelcome{
    text-align: center;
    font-family: 'Neucha';
    font-size: 45px;
    color: #58524C;
    margin: 55px 0 0 0;
}
.txtIntro{
    text-align: center;
    font-family: 'Neucha';
    font-size: 35px;
    color: #58524C;
    margin: 0 0 30px 0;
}
.cointenerIntro{
    text-align: center;
    display: flex;
    margin-top: 25px;
}
.buttonsIntro{
    margin-top: 20px;
    width: 200px;
}
.wiatressBlock{
    margin: 20px 100px 0 500px;
}
.waitressImg{
    width: 110px;
    height: auto;
  
}
.chefBlock{
   margin: 0px 0 0 0;
}
.chefImg{
    width: 100px;
    height: auto;
}
