@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');


.cointenerKitchenCards{
    text-align: center;
    margin: 50px 20px 30px 20px;
 
}
.cointenerCard{
    display: inline-block;
    text-align: center;
    font-family: 'Neucha';
    font-size: 25px;
    width: 300px;
    background: beige;
    padding: 30px;
    margin: 20px;
    border-radius: 5%;
    border: solid #EAD4B0;
    list-style:none;
}
.tableNumber{
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
}
.listCard{

    text-align: center;
    margin: 0;
}
.totalKitchen{
    text-align: center;
    margin: 35px 0 25px 0; 
}
.buttonDone{
    width: 150px;
    margin: 10px;
}