@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');


.txtMenu{
    text-align: center;
    font-family: 'Neucha';
    font-size: 45px;
    color: #58524C;
    margin: 95px 0 0 0;
}
.cointenerMenu{
    text-align: center;
    margin-top: 25px;
    position: absolute;
    width: 100%;
    margin: 25px auto;
}
.goBreakfastMenu{
    float: left;
    width: 30%;
    margin: 40px 0 0 150px;
}
.menuBreackfastImg{
    width: 250px;
    height: auto;
}
.goDinnerMenu{
    width: 30%;
    float: right;
    margin: 20px 150px 0 0;
}
.menuDinnerImg{
    width: 250px;
    height: auto;
}
.buttonsMenu{
    margin-top: 20px;
    width: 80%;
}
